.center-container {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}
h3 {
    text-align: center;
}
.center-container2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}